/node_modules
/.next*
/build
.env*
/.vercel
next-env.d.ts
pnpm-lock.yaml
vectordb/*
hybriddb/*
prisma/*
/generated**
meilisearch_data/*
qdrant_storage/*
coverage/*
.github/*
__tests__/*
*.yaml
*.md
*.json
